<!-- This page is found by a CreateView class looking for a model_form in templates -->

{% extends 'music/base.html' %}
{% block title %} Register{% endblock %}


{% block body %}
<div  style ="display: inline-block; margin-left: 35%; margin-top:8%;"class="container-fluid" >
		<div class="row" >		
				<div class="col-sm-12 col-md-12" >
						<div class="panel panel-default" style='box-shadow: 10px 10px 5px #888888;'>
								<div class ="panel-body">
										<h3> Create a New Account</h3>
										{% if error_message %}
												<p><strong>{{ error_message }}</strong></p>
										{% endif %}
											<!--action is left blank because you are being redirected to the same view. multipart/form-data lets people upload different types of files-->
										<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
												{% csrf_token %} <!-- Cross Site Request Forgery Token -->
												{% include 'music/form-template.html' %}<!-- This is a way to paste in a _form.html page -->
												<div class="form-group">
														<div class="col-sm-offset-2 col-sm-10"> <!-- offset makes it not use the first 2 columns. col-sm-10 makes you use all 10 col in small format -->
																<button type="submit" class="btn btn-success">Submit</button>
														</div>
												
												</div>
										</form>
								
								</div>						
						</div>
				</div>		
		</div>		
</div>
{% endblock %}